.main {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.sidebar {
width: 25%;
background-color: #AFD4C0;
}

.mid {
  width: 50%;
  background-color: #E5F4EC;
}

.header {
  height: 75px;
  background-color: #519872;
}